<button class='bg-red-800 flex py-1 pr-1 pl-4 gap-x-4 rounded-full items-center justify-between text-neutral-100 transition-all duration-300 hover:bg-neutral-100 hover:text-red-900'>
  <span class="font-primary font-semibold tracking-wider">Info</span>
  <div class='bg-neutral-900 rounded-full p-1'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      width='23'
      height='23'
      viewBox='0 0 24 24'
      ><path fill='#ffffff' d='M6.4 18L5 16.6L14.6 7H6V5h12v12h-2V8.4L6.4 18Z'
      ></path></svg
    >
  </div>
</button>
