---
import data from "../../data/infoData.json";
---

<article class='sm:w-2/3 flex sm:justify-between justify-around'>
  {
    data.map(({ text, img }) => (
      <article class='bg-red-700 text-neutral-900 sm:w-1/4 w-[28%] rounded-xl flex flex-col sm:justify-center justify-between items-center text-center sm:p-2 px-1 py-4 gap-y-3 shadow-xl shadow-black/40 '>
        <img src={img} alt={text} class="h-10 w-10" />
        <h2 class='sm:text-xl text-neutral-100'>{text}</h2>
      </article>
    ))
  }
</article>
