---
import CallButton from '../buttons/CallButton.astro';
import Phone from '../icons/Phone.astro';
---

<article
  class='flex flex-col justify-center items-center text-center gap-y-10 sm:w-2/3 sm:px-0 px-7'
>
  <h1 class='text-3xl text-red-800 font-primary'>
    No dejes que un problema de cañerías te cause estrés
  </h1>
  <h2 class='text-lg font-primary font-semibold tracking-wide'>
    ¡Llámanos ahora para solicitar una consulta gratuita!
  </h2>
  <CallButton>
    <span class='text-white font-semibold tracking-wide'
      >1138422513</span
    >
  </CallButton>
</article>
