---
import data from "../../data/servicesData.json";
import Card from "./Card.astro";
import Header from "./S-Header.astro";
import Footer from "./S-Footer.astro";
---

<section class='w-full flex flex-col items-center pt-10 gap-y-10 '>
  <Header />
  <div class='flex flex-col items-center gap-10 p-7 sm:w-2/3'>
    {data.map((item) => <Card {...item} />)}
  </div>
  <Footer />
</section>
