<form
  class='bg-stone-800 flex flex-col justify-around items-center gap-y-7 sm:w-1/4 w-[85%] rounded-[2.5em] py-10 shadow-xl shadow-black/30'
>
  <input placeholder='Nombre' required />
  <input placeholder='E-mail' required />
  <input placeholder='Telefono' required />
  <textarea placeholder='Escriba su consulta' class='h-24'></textarea>
  <button
    class='py-1 px-4 rounded-full bg-neutral-100 font-semibold hover:bg-red-600 hover:text-neutral-100 transition-all duration-300'
  >
    Enviar
  </button>
</form>

<style>
  input,
  textarea {
    @apply w-2/3 rounded-2xl text-center bg-neutral-100 py-2 border border-neutral-300 text-black;
  }
</style>
