<article class='font-primary flex flex-col items-center gap-y-5'>
  <h1
    class='text-3xl font-semibold tracking-wide text-neutral-900 underline underline-offset-8 decoration-red-600 decoration-1'
  >
    Contacto
  </h1>
  <h2 class='sm:text-2xl text-xl text-red-800 text-center'>
    Te brindamos el mejor servicio de destapaciones, plomería y gas.
  </h2>
  <h3 class='text-2xl text-red-600 font-black tracking-wider'>
    Atendemos urgencias 24x7
  </h3>
</article>
