---
import CallButton from '../buttons/CallButton.astro';
---

<section>
  <div>
    <article
      class='h-[60%] flex flex-col items-center justify-end text-center gap-y-4 px-5'
    >
      <!-- Main title -->
      <h1
        class='flex flex-col sm:text-[3.5em] text-[3.2em] font-primary font-black'
      >
        <span class='text-white'>Destapaciones Mecanicas</span>
        <span class='text-amber-500'>Romero</span>
      </h1>
      <!-- Second title -->
      <h2 class='font-primary text-neutral-100 text-3xl'>
        Plubial, clohacal, cocinas y baños
      </h2>
    </article>
    <!-- Button -->
    <article class='flex-grow flex justify-center items-center'>
      <CallButton>
        <span class='uppercase  font-semibold'>llamar</span>
      </CallButton>
    </article>
  </div>
  <style>
    section {
      background-image: url('../../assets/hero.webp');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      @apply h-screen font-primary;
    }
    div {
      @apply w-full h-full flex flex-col  backdrop-grayscale-[70%] backdrop-blur-[2px] backdrop-brightness-[.4];
    }
  </style>
</section>
