---
import data from '../../data/questionsData.json';
---

<article class='sm:w-2/3 sm:px-0 px-7 flex flex-col gap-y-7'>
  <h2 class='text-2xl font-semibold text-neutral-900'>¿Porque elegirnos?</h2>
  <div class='flex flex-col gap-y-4'>
    {
      data.map(({ title, description }) => (
        <div class='px-3 py-7 rounded-b-xl border-b border-neutral-300 flex flex-col gap-y-7 shadow-md bg-gradient-to-t from-white to-transparent'>
          <h3 class='text-xl font-semibold text-neutral-700 underline underline-offset-8 decoration-1 decoration-red-500'>
            {title}
          </h3>
          <p class='text-lg text-center'>{description}</p>
        </div>
      ))
    }
  </div>
</article>
<style>
  article {
    @apply flex flex-col items-center text-center;
  }
</style>
