---
import Form from '../form/Form.astro';
---

<main
  class='h-secreen w-full pt-16 flex flex-col items-center gap-y-3 font-primary relative'
>
  <h1 class='font-black text-3xl'>Realice su Consulta</h1>
  <h2 class='text-lg text-red-800'>Atendemos urgencias las 24hs</h2>
  <Form />
</main>
