---
import Form from '../form/Form.astro';
---

<main
  class='h-screen w-full flex flex-col items-center justify-center sm:gap-y-3 sm:pt-10 pt-0 gap-y-10 font-primary relative'
>
  <h1 class='font-black text-3xl'>Realice su Consulta</h1>
  <h2 class='text-lg text-red-800'>Atendemos urgencias las 24hs</h2>
  <Form />
</main>
