---
import CallButton from '../buttons/CallButton.astro';
import MailButton from '../buttons/MailButton.astro';
---

<div class='flex gap-x-4 bg-blue-400'>
  <a href=''>
    <CallButton>
      <span class='text-white font-semibold'>1138422513</span>
    </CallButton>
  </a>
  <a href=''>
    <MailButton>
      <span class='text-white font-semibold'>info@dmr.com.ar</span>
    </MailButton>
  </a>
</div>
<style>
  ul {
    @apply flex justify-center sm:gap-x-5 gap-x-1  sm:text-base text-xs;
  }
</style>
