---
import data from '../../data/contactData.json';
---

<div class='sm:flex hidden justify-end items-center gap-x-16'>
  {
    data.map(({ name, icon, href }) => (
      <a href={href}>
        <img src={icon} alt={name} class='h-[25px] w-[25px]' />
      </a>
    ))
  }
</div>
<style>
  ul {
    @apply flex justify-center sm:gap-x-5 gap-x-1  sm:text-base text-xs;
  }
</style>
