---
import CallButton from '../buttons/CallButton.astro';
---

<div class='flex flex-col items-center gap-y-3'>
  <h5 class='font-semibold text-xl text-red-900'>
    No dudes en realizar tu consulta
  </h5>
  <CallButton>
    <span class='uppercase font-semibold text-neutral-100 tracking-wider'
      >llamar</span
    >
  </CallButton>
</div>
