---
import CallButton from '../buttons/CallButton.astro';
import data from '../../data/destapacionData.json';
import Card from './Card.astro';
---

<section class='w-full h-screen sm:grid sm:grid-cols-2 font-primary'>
  <article
    class='sm:flex hidden flex-col items-center justify-center gap-y-10 px-10'
  >
    <img
      src='https://i.postimg.cc/nrGqjpvR/destapaciones.webp'
      alt='image'
      class='rounded-xl shadow-lg shadow-black/30'
    />
  </article>
  <article
    class='sm:h-auto h-screen flex flex-col sm:justify-around justify-center items-center text-center sm:pt-16 sm:pb-10 sm:gap-y-0 gap-y-16 sm:px-0 px-3'
  >
    <!-- Main title -->
    <h1 class='text-3xl font-semibold text-neutral-700'>
      Destapaciones Mecanicas
    </h1>
    <!-- Subtitle -->
    <h2 class='text-xl font-semibold text-neutral-600'>
      Contamos con equipos especializados que utilizan técnicas de vanguardia
      para desbloquear tus cañerías.
    </h2>
    <!-- Cards -->
    <div class='flex flex-col gap-y-3'>
      <h3 class='font-semibold text-neutral-800'>
        Nuestra empresa se compromete a brindarte
      </h3>
      <div class='grid grid-cols-4 sm:gap-5 gap-2 sm:px-5'>
        {data.map((item) => <Card data={item} />)}
      </div>
      <!-- Call button -->
    </div>
    <div class='flex flex-col items-center gap-y-3'>
      <h5 class='font-semibold text-xl text-red-900'>
        No dudes en realizar tu consulta
      </h5>
      <CallButton>
        <span class='uppercase font-semibold text-neutral-100 tracking-wider'
          >llamar</span
        >
      </CallButton>
    </div>
  </article>
</section>
