<div class='flex flex-col gap-y-3'>
  <!-- Main title -->
  <h1 class='sm:text-3xl text-2xl font-semibold text-neutral-800'>
    Destapaciones Mecanicas
  </h1>
  <!-- Subtitle -->
  <h2 class='sm:text-xl font-semibold text-neutral-600 px-5'>
    Contamos con equipos especializados que utilizan técnicas de vanguardia para
    desbloquear tus cañerías.
  </h2>
</div>
