---
import data from "../../data/contactData.json";
---

<article class='flex flex-col py-10 pl-5 gap-y-5'>
  <div class="flex justify-center">
    <h2 class='font-primary text-xl font-black text-white tracking-widest '>
      Contacto
    </h2>
  </div>
  {
    data.map(({ icon, label }) => (
      <div class='flex justify-start gap-x-2 items-center text-neutral-300 sm:w-[60%]'>
        <img src={icon} alt={label} class='h-5' />
        <h2 class="text-sm">{label}</h2>
      </div>
    ))
  }
</article>
