---
import data from "../../data/footerInfo.json";
---

<article class='flex flex-col gap-y-5 py-5 pl-3'>
  <div class='flex sm:justify-start justify-center'>
    <h2 class='text-xl tracking-widest font-black font-primary text-white'>
      Servicios
    </h2>
  </div>

  {
    data.map(({ text, icon }) => (
      <div class='flex gap-x-2 text-neutral-300'>
        <img src={icon} alt='icon' class='h-6' />
        <h2 class='text-sm'>{text}</h2>
      </div>
    ))
  }
</article>
