---
import data from '../../data/fixedFooter.json';
---

<div
  class='flex justify-around items-center gap-x-10 fixed bottom-0 w-full z-20 bg-red-900 p-[5px] rounded-t-3xl'
>
  {data.map(({ icon, name }) => <img src={icon} alt={name} class='w-[30px]' />)}
</div>
