---
import Mail from '../icons/Mail.astro';
import Phone from '../icons/Phone.astro';
import Whatsapp from '../icons/Whatsapp.astro';
---

<div
  class='flex justify-around items-center gap-x-10 fixed bottom-0 w-full z-20 bg-red-900 pb-1 pt-2 rounded-t-3xl'
>
  <Phone />
  <Mail />
  <Whatsapp />
</div>
