---
import Header from "./F-header.astro";
import Contact from "./F-contact.astro";
import Info from "./F-info.astro";
---

<footer
  class='bg-neutral-900 w-full mt-10 grid sm:grid-cols-2 py-3 rounded-t-3xl font-primary'
>
  <Header />
  <div class="grid grid-cols-2">
    <Info />
    <Contact />
  </div>
</footer>
