---
import data from '../../data/plomeriaData.json';
import ServicesItem from './ServicesItem.astro';
---

<article
  class='sm:h-auto h-screen flex flex-col sm:justify-center justify-around items-center sm:pt-14 sm:pb-0 sm:py-0 py-16'
>
  <h3
    class='text-3xl text-neutral-800 font-semibold font-primary underline underline-offset-8 decoration-1 decoration-red-600'
  >
    Servicios
  </h3>
  <div
    class='grid sm:grid-cols-3 grid-cols-2 sm:grid-rows-2 grid-rows-3 p-8 sm:gap-5 gap-8'
  >
    {data.map((item) => <ServicesItem data={item} />)}
  </div>
</article>
