---
import { Image } from "astro:assets";
import phoneIcon from "../../assets/phone-icon.png";
---

<div class='h-10 w-10 bg-black rounded-full p-2'>
  <Image src={phoneIcon} alt='phoneIcon' />
</div>
